{% extends 'app1/base.html' %}

{% block body %}

<div class="container" style="min-height: 100vh;">

<div class="row">
    <div class="col-md-3">
       <a href="{% url 'customer_complaint' %}">customer complaint</a><br>
       <a href="">complaint against supplier</a><br>
       <a href="">meteriel erorr</a><br>
       
        <button class="btn btn-outline-info m-2"><a href="">CREATE</a></button><br>
      
    </div>
    <div class="col-md-9">








    </div>




</div>


</div>





{% endblock %}